<div class="container">
    <div class="title">
      <h2>コード登録機能(ポッポアッポ)</h2>
    </div>
    <div class="card shadow">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-sdiviped"  width="100%" cellspacing="0">
              <tbody>
                <tr>
                  <!-- <td><input type="radio" id="{{case.id}}" name="case" value="{{case.id}}" (change)="changePref(case.id)"></td> -->
                  <td  width="28%">No.</td>
                  <td  width="72%">
                    <div class="input-group mb-3">
                      <input class="form-control" type="text">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>コード名</td>
                  <td>
                    <div class="input-group mb-3">
                      <input class="form-control" type="text"  [(ngModel)]="codeValueMasterVO.codeValue">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>コード</td>
                  <td>
                    <div class="input-group mb-3">
                      <input class="form-control" type="text" [(ngModel)]="codeValueMasterVO.valuePhysicalName">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>値（日本語）</td>
                  <td>
                    <div class="input-group mb-3">
                      <input class="form-control" type="text" [(ngModel)]="codeValueMasterVO.valueLogicName">
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    <div class="card">
      <div class="card-body button">
        <div class="table-responsive">
          <div class="bt-button signin-tb">
            <button class="btn btn-primary" type="submit">登録</button>
          </div>
          <div class="bt-button delete-tb">
            <button class="btn btn-primary" type="submit">キャンセル</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  