<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiangwen.mapper.LessonTableMapper">

    <select id="getSentenceIdsByLessonId" resultType="java.lang.Long">
        SELECT
             sentence_seq
        FROM
             sentence_table st
        WHERE st.lesson_id=#{lessonId}
    </select>
</mapper>
