<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiangwen.mapper.WordTableMapper">
    <select id="getWordBySentenceSeq" resultType="org.jiangwen.entity.WordTable">
        SELECT wt.*
        FROM sentence_word_table swt
        JOIN word_table wt
        ON swt.word_id=wt.word_id
        WHERE swt.sentence_seq=#{sentenceSeq}
    </select>
</mapper>
