<div class="container">
  <div class="row">
    <div class="title">
      <div class="text-mono text-center color-text-tertiary text-normal mb-1">Join 楽しい日本語</div>
      <h1 class="d-none">Create your account</h1>
    </div>
    <br /><br />
    <div class="card shadow">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-sdiviped" width="100%">
            <tbody>
              <div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Username</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>
                <br />
                <div class="mb-3">
                  <label for="exampleFormControlInput2" class="form-label">Password</label>
                  <input type="text" class="form-control" id="exampleFormControlInput2">
                </div>
                <br />
                <div class="mb-3">
                  <label for="exampleFormControlInput3" class="form-label">PasswordAgain</label>
                  <input type="text" class="form-control" id="exampleFormControlInput3">
                </div>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body button">
        <div class="table-responsive">
          <div class="bt-button">
            <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-secondary btn-sm">Small button</button>

</div>