<!-- <div mdbModal #frame class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true"> -->
    <div class="box" *ngIf="!isLoading">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <div class="pic">
                <nz-avatar [nzSize]="64" nzSrc="http://localhost:4200/assets/images/WechatIMG1.jpeg"></nz-avatar>
            </div>
            <div class="login">
                <h1>Sign in to Tanoshii</h1>
                <div class="auth-form">
                    <span>Username or email address</span>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="">
                            <nz-input-group nzPrefixIcon="user">
                                <input type="text" class="form-control" nz-input formControlName="username" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <span>Password</span>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" class="form-control" nz-input formControlName="password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <div class="code">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="">
                                <div class="input-code">
                                    <input type="text" class="form-control" nz-input formControlName="verificationCode" />
                                </div>
                                <div class="verificationCode">
                                    <img width="81px" height="38px" [attr.src]="captchaImg" (click)="refreshCode()"/>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                
                    <div nz-row class="login-form-margin">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="remember">
                                <span class="rememberMe">Remember me</span>
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <a class="login-form-forgot">Forgot password</a>
                        </div>
                    </div>

                    <button nz-button class="login-form-button login-form-margin" [disabled]="!validateForm.valid" [nzType]="'primary'" >Log in</button>
                </div>
                <div class="login-callout">
                    <span>New to User?<a href="https://www.google.com" target="_blank">Create an account</a>.</span>
                </div>
            </div>
        </form>
    </div>
<!-- </div> -->

