<nz-layout>
  <app-header></app-header>
  <nz-layout>
    <nz-sider>
      <app-menu></app-menu>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="breadcrumb">
          <nz-breadcrumb>
            <nz-breadcrumb-item>
              <i nz-icon nzType="home"></i>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
              <a> Application List </a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
              <a> Application List </a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
              <a> Application List </a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>
        <app-footer></app-footer>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
