<nz-layout>
  <app-header></app-header>
  <nz-layout>
    <nz-sider>
      <app-menu></app-menu>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="breadcrumb">
          <nz-breadcrumb nzSeparator=">">
            <nz-breadcrumb-item>
              <i routerLink="/main/index" nz-icon nzType="home"></i>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs">
              <!-- <nz-breadcrumb-item *ngFor="let item of breadcrumb"> -->
              <a [routerLink]="[breadcrumb.url, breadcrumb.params]">
                <span>{{ breadcrumb.label }}</span>
              </a>
              <!-- </nz-breadcrumb-item> -->
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </div>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>
        <app-footer></app-footer>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
